@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url(/backgroundImage.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
   
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
    
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: white;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: black;
    border-radius: 10px;
}

